version: '2'

services:
  {{ container_name }}:
    image: {{ registry }}/{{ container_name }}
    container_name: {{ container_name }}
    environment:
      - VIRTUAL_HOST={{host_name}}
    networks:
      - nginx
    restart: unless-stopped

networks:
  nginx:
    external:
      name: nginx_default
